src/rfqV2/main/flows/ConfigurationLineItemForRFQ.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ResumeRFQ</name>
        <label>Resume RFQ</label>
        <locationX>726</locationX>
        <locationY>1032</locationY>
        <actionName>QuotingRequestFlowHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LoopOverPendingRequests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>configurationLineItemList</name>
            <value>
                <elementReference>GetAllLines</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pendingRequest</name>
            <value>
                <elementReference>LoopOverPendingRequests</elementReference>
            </value>
        </inputParameters>
        <nameSegment>QuotingRequestFlowHelper</nameSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <description>Used for RFQ v2. Checks if there is a pending Quoting Request with a Configuration Id matching the created Configuration Line Item record, and possibly resumes the request.</description>
    <assignments>
        <name>GetLineCount</name>
        <label>Get Line Count</label>
        <locationX>638</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>LineCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetAllLines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverPendingRequests</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateMatchingLineCount</name>
        <label>Update Matching Line Count</label>
        <locationX>1166</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>LoopOverPendingRequests.MatchingConfigurationLineItemSize__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LineCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SaveNewMatchingLineCount</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsRequestStillPending</name>
        <label>Is Request Still Pending?</label>
        <locationX>858</locationX>
        <locationY>924</locationY>
        <defaultConnector>
            <targetReference>LoopOverPendingRequests</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Been Updated</defaultConnectorLabel>
        <rules>
            <name>StillPending</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CheckRequestForUpdate.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckRequestForUpdate.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queued</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ResumeRFQ</targetReference>
            </connector>
            <label>Still Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>MatchingLineCount</name>
        <label>Matching Line Count?</label>
        <locationX>1012</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>UpdateMatchingLineCount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Enough Lines</defaultConnectorLabel>
        <rules>
            <name>LineCountMet</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopOverPendingRequests.MinimumConfigurationLineItemSize__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOverPendingRequests.MinimumConfigurationLineItemSize__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>LineCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRequestForUpdate</targetReference>
            </connector>
            <label>Line Count Met</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ConfigurationLineItemToQuotingRequest {!$Flow.CurrentDateTime}</interviewLabel>
    <isOverridable>true</isOverridable>
    <label>Logik.ai Configuration Line Item for RFQ</label>
    <loops>
        <name>LoopOverPendingRequests</name>
        <label>Loop Over Pending Requests</label>
        <locationX>638</locationX>
        <locationY>600</locationY>
        <collectionReference>CheckForPendingQuotingRequest</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>MatchingLineCount</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CheckForPendingQuotingRequest</name>
        <label>Check for Pending Quoting Request</label>
        <locationX>638</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAllLines</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>ConfigurationId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LGK__ConfigurationId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuotingRequest__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Re-retrieve the Quoting Request to check if a previous record in this loop already processed and updated the request.</description>
        <name>CheckRequestForUpdate</name>
        <label>Check Request for Update</label>
        <locationX>858</locationX>
        <locationY>816</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsRequestStillPending</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopOverPendingRequests.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QuotingRequest__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAllLines</name>
        <label>Get All Lines</label>
        <locationX>638</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetLineCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LGK__ConfigurationId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LGK__ConfigurationId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LGK__ConfigurationLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>SaveNewMatchingLineCount</name>
        <label>Save New Matching Line Count</label>
        <locationX>1166</locationX>
        <locationY>924</locationY>
        <connector>
            <targetReference>LoopOverPendingRequests</targetReference>
        </connector>
        <inputReference>LoopOverPendingRequests</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>LGK__ConfigurationLineItem__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>CheckForPendingQuotingRequest</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>LineCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
